*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #1f1f1f;
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	gap: 18px;
}

.logo{
	background-color: #D92B4B;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	display: flex;
	user-select: none;
	cursor: pointer;
}

.logo>img{
	filter: invert(100%);
	width: 85px;
	margin: auto;
}

a{
	text-decoration: none;
}

.text-container{
	transition: transform .5s ease-in-out;
	background-color: #0f0f0f;
	padding: 12px 18px;
	border-radius: 24px;
}

.text-container:hover{
	transform: scale(1.2);
}

.text{
	color: #ffffff;
	font-size: 24px;
	font-family: sans-serif;
	transition: color .5s ease-in-out;
}

.text:hover{
	color: #F2ADA7;
}